# Базовые зависимости
fastapi==0.110.0
uvicorn==0.30.0
python-multipart==0.0.9
pydantic==2.7.4
starlette==0.36.3

# Обработка видео
opencv-python==4.10.0.84
numpy==1.26.4
scenedetect==0.6.2
moviepy==1.0.3

# Обработка аудио
whisper==1.1.10
librosa==0.10.2
pydub==0.25.1
torch==2.3.1
torchaudio==2.3.1
ffmpeg-python==0.2.0
soundfile==0.12.1 